/* Định nghĩa kiểu dáng cho trái tim */
.heart {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    margin: 100px auto;
    transform: rotate(-45deg);
    animation: beat 1s infinite;
}

.heart::before,
.heart::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    left: 50px;
    top: 0;
}

/* Hiệu ứng nhịp đập */
@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    25% {
        transform: scale(1.1) rotate(-45deg);
    }
    50% {
        transform: scale(1) rotate(-45deg);
    }
}
